Source: dnsruby
Section: ruby
Priority: optional
Maintainer: Ondřej Surý <ondrej@debian.org>
Uploaders: Debian Ruby Extras Maintainers <pkg-ruby-extras-maintainers@lists.alioth.debian.org>
Build-Depends: debhelper (>= 7.0.50~), gem2deb (>= 0.2.3), graphviz
Standards-Version: 3.9.2
Vcs-Browser: http://git.debian.org/?p=pkg-opendnssec/dnsruby.git;a=summary
Vcs-Git: git://git.debian.org/git/pkg-nlnetlabs/dnsruby.git
Homepage: http://rubyforge.org/projects/dnsruby/
XS-Ruby-Versions: all

Package: ruby-dnsruby
Provides: libdns-ruby, libdns-ruby1.8
Conflicts: libdns-ruby (<< 1.52-2), libdns-ruby1.8 (<< 1.52-2), libdns-ruby-doc
Replaces: libdns-ruby (<< 1.52-2), libdns-ruby1.8 (<< 1.52-2)
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby | ruby-interpreter
Description: Ruby DNS and DNSSEC client library
 Dnsruby is a pure Ruby DNS client library. It provides a complete DNS
 client implementation, including full DNSSEC support.  Dnsruby is
 currently used in projects such as OpenDNSSEC and ISC's DLV service.

Package: libdns-ruby1.8
Architecture: all
Depends: ruby-dnsruby
Description: Ruby DNS client library (dummy package)
 Dnsruby is a pure Ruby DNS client library. It provides a complete DNS
 client implementation, including full DNSSEC support.  Dnsruby is
 currently used in projects such as OpenDNSSEC and ISC's DLV service.
 .
 This package is a transitional package and can be safely removed
 after upgrade.

Package: libdns-ruby
Architecture: all
Depends: ruby-dnsruby
Description: Ruby DNS client library (dummy package)
 Dnsruby is a pure Ruby DNS client library. It provides a complete DNS
 client implementation, including full DNSSEC support.  Dnsruby is
 currently used in projects such as OpenDNSSEC and ISC's DLV service.
 .
 This package is a transitional package and can be safely removed
 after upgrade.
