Source: dnsruby
Section: ruby
Priority: optional
Maintainer: Ondřej Surý <ondrej@debian.org>
Uploaders: Debian Ruby Extras Maintainers <pkg-ruby-extras-maintainers@lists.alioth.debian.org>
Build-Depends: cdbs, debhelper (>= 5), ruby-pkg-tools (>= 0.9), ruby1.8, rake, rdoc, graphviz
Standards-Version: 3.8.3
Homepage: http://rubyforge.org/projects/dnsruby/
Vcs-Browser: http://svn.debian.org/wsvn/pkg-ruby-extras/packages/dnsruby/trunk/
Vcs-Svn: svn://svn.debian.org/pkg-ruby-extras/packages/dnsruby/trunk/

Package: libdns-ruby1.8
Depends: ruby1.8, ${misc:Depends}
Suggests: libdns-ruby-doc
Architecture: all
Description: Ruby DNS client library
 Dnsruby is a pure Ruby DNS client library. It provides a complete DNS
 client implementation, including full DNSSEC support. Dnsruby is
 currently used in projects such as OpenDNSSEC and ISC's DLV service.

Package: libdns-ruby
Architecture: all
Depends: libdns-ruby1.8, ${misc:Depends}
Suggests: libdns-ruby-doc
Description: Ruby DNS client library (dummy package)
 Dnsruby is a pure Ruby DNS client library. It provides a complete DNS
 client implementation, including full DNSSEC support. Dnsruby is
 currently used in projects such as OpenDNSSEC and ISC's DLV service.
 .
 This package is a dependency package, which depends on Debian's default Ruby
 version (currently 1.8.x).

Package: libdns-ruby-doc
Section: doc
Depends: libdns-ruby, ${misc:Depends}
Architecture: all
Description: Documentation for libdns-ruby (dnsruby)
 This package provides rdoc documentation and unit tests for
 DnsRuby.
 .
 Dnsruby is a pure Ruby DNS client library. It provides a complete DNS
 client implementation, including full DNSSEC support. Dnsruby is
 currently used in projects such as OpenDNSSEC and ISC's DLV service.
